#tfbs-filter .tfbs-label-inline {
    display: block;
    font-weight: initial;
    margin: 0;
    font-size: 0.9em;
    line-height: 1em;
    margin-bottom: 0.3em;
}

.tfbs-label-inline > span, .tfbs-filter-checkbox-single > span {
    display: inline-block;
    vertical-align: middle;
    height: 0.8em;
    width: 0.8em;
    margin-right: 0.3em;
    border: 1px solid #c3d600;
}

.tfbs-label-inline.checked > span, .tfbs-filter-checkbox-single.checked > span {
    background-color: #c3d600;
}

.tfbs-filter-checkbox-single > span {
    margin-left: 0.3em;
}