#tfbs-filter {
    display: none;
    padding: 1.2em;
    padding-bottom: 3em;
    z-index: 92;
    background: rgba(255,255,255,.9);
}

@media screen and (min-width: 768px) {
    #tfbs-filter {
        display: block;
        grid-area: filter;
    }
}

#tfbs-filter h2 {
    margin: 0;
}

#tfbs-filter input {
    border-bottom: #000 1px solid;
}

#tfbs-filter label {
    margin-top: 0.8em;
    margin-right: 0.5em;
    margin-bottom: 0;
}
