#tfbs-results {
    grid-area: search-output;
    padding: 2em;
    padding-top: 0;
    z-index: 92;
    background: rgba(255,255,255,.9);
    padding-bottom: 5em;
}

#tfbs-results > *:first-child {
    padding-top: 2em;
}
