.tfbs-entry {
    padding-bottom: 1em;
    border-bottom: 1px solid lightgray;
    margin-bottom: 1em;
}

.tfbs-entry-header h2 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
    font-weight: 500;
    margin-bottom: 0;
}

.tfbs-entry-body {
    display: flex;
}

.tfbs-entry-image {
    width: 20%;
    margin-top: 1em;
    margin-right: 1em;
}

.tfbs-entry-image img {
    width: 100%;
    height: auto;
}

.tfbs-entry-details-container {
    display: flex;
    width: 80%;
    flex-direction: column;
}

.tfbs-entry-details {
    flex-grow: 1;
    padding-bottom: 1em;
    margin-top: 1em;
}

.tfbs-entry-details > *:first-child {
    margin-top: 0;
}


.tfbs-entry-buttons {
    margin-top: 2em;
}