#tfbs-root {
    width: 100%;
    margin-top: 5em;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    font-family: "PT Sans", sans-serif;
    max-width: 750px;
    height: 10em;
}

@media screen and (min-width: 520px) {
    #tfbs-root {
        margin-top: 3em;
    }
}

@media screen and (min-width: 992px) {
    #tfbs-root {
        margin-top: 170px;
        padding: 30px 30px 40px 30px;
        max-width: none;
    }
}

#tfbs-root input[type=text] {
    width: 100%;
    border: 0;
    border-bottom: 1px solid black;
    border-radius: 0;
    box-sizing: border-box;
    padding-right: 2em;
    background: transparent;
}

#tfbs-root input[type=text]:focus {
    outline: none;
}

#tfbs-root input[type=text]::placeholder {
    color: black;
}

#tfbs-root #tfbs-lukk {
    position: absolute;
    top: -3em;
    right: 0;
    margin-right: 0;
    background: transparent;
    border: 0;
}

#tfbs-root button {
    margin: 0;
    border: 2px solid rgb(195, 215, 0);
    background-color: rgb(195, 215, 0);
    font-size: 1em;
    padding: 0.5em;
    margin-right: 0.5em;
    color: black;
}

#tfbs-root button:hover {
    background-color: rgb(205, 225, 10);
    cursor: pointer;
}

#tfbs-root button.white {
    background-color: white;
}

#tfbs-root button.white:hover {
    background-color: rgb(235, 245, 180);
}

#tfbs-overlay.enabled {
    background: rgba(255,255,255,.9);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 91;
}

#tfbs-app {
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
}

#tfbs-app.enabled {
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        'search-input'
        'search-output';
    grid-column-gap: 1em;
    grid-row-gap: 1em;
}

@media screen and (min-width: 768px) {
    #tfbs-app.enabled {
        grid-template-columns: 15em auto;
        grid-template-areas:
            'filter search-input'
            'filter search-output'
            '. search-output';
    }
}

.beta-search-button {
    color: #000;
    text-decoration: underline;
    display: inline-block;
    margin-top: 10px;
    position: absolute;
    right: 130px;
    top: 64px;
}

.beta-search-button:hover {
    font-weight: 700;
    color: #000;
}
