#tfbs-search {
    grid-area: search-input;
    align-self: start;
    position: relative;
    padding: 2em;
    z-index: 92;
    background: rgba(255,255,255,.9);
}

#tfbs-search-input {
    font-size: 1.2em;
}

#tfbs-search-icon {
    position: absolute;
    top: 2em;
    right: 2em;
    background-color: transparent;
}

#tfbs-search label {
    font-family: inherit;
    font-weight: inherit;
    margin-top: 0.5em;
}
#tfbs-search label > input {
    margin-right: 0.5em;
}

#tfbs-avansert-sok {
    position: absolute;
    right: 2em;
    top: 4em;
    color: black;
}

.tfbs-error {
    background-color: #ff9999;
    border: 2px solid #f00;
    padding: 0.5em;
}

